:root{
    --primary-color: #020202;
    --secondary-color: #1a1a1a;
    --text-secondary-color: #6f6f6f;

    --primary-bg-color: #ffffff;
    --secondary-bg-color: #ecf7ef;

    --border-color: #020202;
    --border2-color: #838484;

    --btn-color: #ffffff;
    --btn-bg-color: #e21b70;
    --btn-border-color: #ffffff;

    --btn-hover-color: #e21b70;
    --btn-hover-bg-color: #ffffff;
    --btn-hover-border-color: #e21b70;

    --hover-color: #838484;
    --hover-bg-color: transparent;
    --hover-border-color: #838484;

    --box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --dark-primary-color: #ffffff;
    --dark-secondary-bg-color: #1a1a1a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p,ul,li,ol{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
    display: inline-block;
}
body{
    overflow-x: hidden;
}


/*xxxxxxxxxxxxxxxxxxxxxxxxxx
        Header CSS 
 xxxxxxxxxxxxxxxxxxxxxxxxxx*/
 .header-section{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    box-shadow: var(--box-shadow);
 }
 .header-section .logo_wrap img {
    height: 70px;
    width: 70px;
    object-fit: cover;
  }
 .header-section .menu_bar .menu{
    display: flex;
    justify-content: space-evenly;
 }
 .header-section .menu_bar .menu li a{
    color: var(--primary-color);
    display: inline;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 600;
    transition: .4s;
 }
 .header-section .menu_bar .menu li a:hover{
    color:  var(--hover-color);
 }

 /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
           Clock CSS  
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
#div1{
  display: flex;
  flex-direction: column!important;
  line-height: 17px;
  justify-content: center;
}

#div1 p{
  display: inline-block;
}

  
#time {
  font-size: 16px;
  text-align: center;
}

#date {
  font-size: 14px;
  text-align: center;
}


 /*xxxxxxxxxxxxxxxxxxxxxxxxxxxx
            Banner CSS  
  xxxxxxxxxxxxxxxxxxxxxxxxxxx*/
  .banner-section{
    height: calc(100vh - 80px);
  }
  .banner-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }


  /*xxxxxxxxxxxxxxxxxxxxxxxxxxxx
         Footer CSS  
  xxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
  footer .socket{
    height: 60px;
    line-height: 60px;
    background-color: var(--dark-secondary-bg-color);
    text-align: center;
    color: var(--dark-primary-color);
  }
